{% extends 'base.html.twig' %}

{% block title %}About - Snowtricks{% endblock %}

{% block main %}
    <section class="py-5">
        <div class="container">
            <div class="row gx-4 align-items-center justify-content-between">
                <div class="col-md-5 order-2 order-md-1">
                    <div class="mt-5 mt-md-0">
                        <h5 class="text-muted">Notre histoire</h5>
                        <h2 class="display-5 fw-bold">A propos de nous</h2>
                        <p class="lead">Bienvenue sur SnowTricks, votre destination ultime pour tout ce qui concerne le snowboard. Nous sommes passionnés par la poudreuse, les figures aériennes et l'esprit communautaire qui anime ce sport incroyable.</p>
                        <p class="lead">Chez SnowTricks, notre mission est de vous inspirer, de vous informer et de vous connecter avec une communauté de snowboarders partageant les mêmes idées. Que vous soyez un débutant cherchant à maîtriser vos premières descentes ou un expert en quête de nouveaux défis, nous avons quelque chose pour vous.</p>
                        <p class="lead">Rejoignez-nous pour des tutoriels détaillés, des conseils de pros, et des histoires inspirantes de riders du monde entier. Ensemble, faisons de chaque ride une aventure mémorable.</p>
                    </div>
                </div>
                <div class="col-md-6 offset-md-1 order-1 order-md-2">
                    <div class="row gx-2 gx-lg-3">
                        <div class="col-6">
                            <div class="mb-2"><img class="img-fluid rounded-3" src="{{ asset('assets/images/about/about-1.webp') }}"></div>
                        </div>
                        <div class="col-6">
                            <div class="mb-2"><img class="img-fluid rounded-3" src="{{ asset('assets/images/about/about-2.webp') }}"></div>
                        </div>
                        <div class="col-6">
                            <div class="mb-2"><img class="img-fluid rounded-3" src="{{ asset('assets/images/about/about-3.webp') }}"></div>
                        </div>
                        <div class="col-6">
                            <div class="mb-2"><img class="img-fluid rounded-3" src="{{ asset('assets/images/about/about-4.webp') }}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
