<h1>Mail de confirmation d'inscription</h1>
<p>Bonjour,</p>
<p>Nous somme ravie de votre inscription sur notre site et esperons que vous y pacerer un bon moment.</p>
<p>Cordialement, L'equipe Snowtricks</p>